/*main reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}


/*general istruction*/
.flex{
    display: flex;
}
.wrap{
    flex-wrap: wrap;
}
.col{
    flex-direction: column;
}
.between{
    justify-content: space-between;
}

/*main section of viewport size*/
nav{
    float: left;
    width: 170px;
    height: calc(100vh - 100px);
    background-color: #000000;
}

section.content{
    float: left;
    background-color: #141922;
    width: calc(100vw - 170px);
    height: calc(100vh - 100px);
    overflow-y: scroll;
}
section.player{
    background-color: #282828;
    height: 100px;
    width: 100vw;
    z-index: 1;
    position: absolute;
    bottom: 0;
}

/*inner navbar*/
div.logo{
    height: 75px;
    width: 100%;
    background-color: yellow;
}
div.menù{
    height: 110px;
    width: 100%;
    background-color: rgb(133, 133, 34);

}
div.playlist-menù{
    height: 250px;
    width: 100%;
    background-color: rgb(116, 116, 72);
}
div.lower-nav{
    background-color: aqua;
    height: 100px;
    width: 100%;
}



/*inner content*/
div.button{
    background-color: #080b12;
    height: 100px;
    width: 100%;
}
div.content-menù{
    height: 70px;
    width: 100%;
    background-color: cadetblue;
}
div.title{
    height: 50px;
    border: 2px solid blue;

}
div.cover{
    height: 200px;
    width: calc(100% / 6);
    border: 1px solid red;
    padding: .5rem
}
div.cover img {
    width: 100%;
}
div.circle img {
    border-radius: 50%;
}

/*inner player*/
div.mutimedial-info,
div.mutimedial-setting {
    width: 170px;
    height: 100px;
    background-color: beige;
}
div.mutimedial-action {
    width: 340px;
    height: 100px;
    background-color: aliceblue;
}



/*media query tablet size*/
@media screen and (max-width: 878px) {
    div.cover{
        width: calc(100% / 4);
    }
}


/*media query mobile size*/
@media screen and (max-width: 552px) {
    nav {
        width: 50px;
    }

    section.content{
        width: calc(100vw - 50px);
    }

    div.cover{
            width: calc(100% / 2);
            padding: 1rem;
    }

    div.playlist-menù{
        display: none;
    }
}


